div {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

input {
    background: none;
    color: white;
    border: none;
    margin: 0 10px 0 10px;
    width: 5vh;
}
