.card {
    background-color: white;
    border-radius: 1vh;
    padding: 2.15vh;
}

.flex-form {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;

}

input {
    margin-left: 10px;
}

.icon-tray {
    display: inline;
    float: right;
}
