<form [formGroup]="userData">
    <div class="input-tray">
        <input class="primary-font" placeholder="surname" formControlName="surname">
        <input class="primary-font" placeholder="name" formControlName="name">
    </div>
    <input class="sec-font" placeholder="username" formControlName="username">
    <input class="sec-font" placeholder="department" formControlName="department">
    <input class="sec-font" placeholder="email" formControlName="mail">
</form>
<app-user-buttons (hasUpdatedAnything)="this.eventSubmitData()" (isGoingToDelete)="this.emitCloseBox()"></app-user-buttons>
