.input-tray {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-column-gap: 1vh;
}

input {
    border-radius: 0.5vh;
    border: none;
    padding-left: 6px;
    margin-bottom: 0.62vh;
    width: 98%;
}

.icon-tray {
    display: flex;
    margin-top: 2px;
    justify-content: flex-end;
}
